@use "/src/styles/mixins" as mixin;

@import "variables";

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .content {
        display: flex;
        flex-direction: row;
        gap: 50px;
        flex-wrap: wrap;
        @include mixin.xs-medium {
            gap: 20px;
        }
        .filmImage {
            width: 120px;
            height: 200px ;
            @include mixin.xs-medium {
                width: 80px;
                height: 140px;
              }
            img {
                @include mixin.xs-medium {
                  width: 80px;
                  height: 120px;
                }
            }
        }
        .film{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                transition: all 0.8s;
                &:hover {
                    box-shadow: $box-shadow-peps;
                }
            }
            p{
                text-align: center;
                max-width: 120px;
                font-size: 12px;
            }
        }
    }
}