@use "/src/styles/mixins" as mixin;

@import "variables";

.card {
  font-family: var(--font-montserrat);
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  min-width: 250px;
  @include mixin.xs-medium {
    min-width: 200px;
  }
 
  .image {
    position: relative;
    width: 100%;
    height: 300px;
     @include mixin.xs-medium {
      height: 250px;
  }
    img {
      border-radius: 10px 10px 0 0;
      object-fit: cover;
      width: 100%;
      height: 300px;
    }
  }

  .content {
    padding: 5px 10px;
    position: relative;
    overflow-wrap: break-word;

    .vote {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      border-radius: 50%;
      top: -20px;
      right: 15px;
      width: 35px;
      height: 35px;
      z-index: 2;
      margin: 0;
      border: 2px solid $light-peps;
      background-color: $white;
      box-shadow: $box-shadow;
    }

    h2 {
      
    }

    p {
      font-size: 11px;
      font-weight: 300;
    }
  }
}