/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/ErrorLogin/ErrorLogin.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ErrorLogin_container__JAH7a {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.96);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  color: #393939;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.ErrorLogin_container__JAH7a .ErrorLogin_close__928Jn {
  color: #FFA071;
  text-align: end;
  font-size: 28px;
}
@media (max-width: 980px) {
  .ErrorLogin_container__JAH7a .ErrorLogin_close__928Jn {
    font-size: 18px;
  }
}
.ErrorLogin_container__JAH7a .ErrorLogin_content__uGUJJ {
  text-align: center;
  padding: 20px;
}
.ErrorLogin_container__JAH7a p {
  text-align: center !important;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/[locale]/signIn/page.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_formContainer__7IuZr {
  position: relative;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page_formContainer__7IuZr .page_formContent__m3rrS {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 980px) {
  .page_formContainer__7IuZr .page_formContent__m3rrS {
    width: 100%;
  }
}
.page_formContainer__7IuZr .page_formContent__m3rrS input {
  border: 1px solid #FFA071;
  border-radius: 10px;
  padding: 5px 10px;
  outline: none;
}
.page_formContainer__7IuZr .page_formContent__m3rrS input::placeholder {
  font-size: 12px;
}
.page_formContainer__7IuZr .page_formContent__m3rrS input:focus::placeholder {
  color: transparent;
}
.page_formContainer__7IuZr .page_formContent__m3rrS button {
  background-color: #FFA071;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  color: #393939;
  cursor: pointer;
}
.page_formContainer__7IuZr .page_formContent__m3rrS button:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: #FF5A09;
}
.page_formContainer__7IuZr p {
  font-size: 12px;
  cursor: pointer;
  color: #99B3C6;
  text-decoration: underline;
}
.page_formContainer__7IuZr .page_error__y3tPz {
  font-size: 12px;
  cursor: pointer;
  color: #FF5A09;
  text-decoration: none;
  margin: 0;
  margin-left: 10px;
}
