@use "/src/styles/mixins" as mixin;
@import "variables";

.formContainer {
    position: relative;
    box-shadow: $box-shadow;
    padding: 20px;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     .formContent {
        width: 600px;
        display: flex;
        flex-direction: column;
        gap:20px;
        @include mixin.xs-medium {
            width: 100%;
        }
        input{
            border: 1px solid $light-peps;
            border-radius: $border-radius;
            padding: 5px 10px;
            outline: none;
            &::placeholder {
                font-size: 12px;
            }
        &:focus::placeholder {
            color: transparent;
        }
        }
        button {
            background-color: $light-peps;
            border: none;
            padding: 5px 10px;
            border-radius: $border-radius;
            color: $text-color;
            cursor: pointer;
            &:hover {
                box-shadow: $box-shadow;
                background-color: $peps;
            }
        }
    }
    p {
        font-size: 12px;
        cursor: pointer;  
        color: $mid-grey;
        text-decoration: underline;
    }
    .error {
        font-size: 12px;
        cursor: pointer;  
        color: $peps;
        text-decoration:none;
        margin: 0;
        margin-left: 10px;
    }

}
   