@import "variables";

.profileBtn {
    width: 100px;
    padding: 5px 10px;
    background-color: $peps; 
    border-radius: $border-radius;   
    text-align: center;
    cursor: pointer;
    opacity: 0.8;
    &:hover{
        opacity: 1;
        box-shadow: $box-shadow;
    }
}