@import "variables";

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .genre {
        background-color: $mid-grey;
        border-radius: $border-radius;
        color: $text-color;
        font-weight: 700;
        box-shadow: $box-shadow;
        transition: all 0.5s ease;
        text-align: center;
        &:hover {
            color: $light-peps;
            background-color: $primary;
        }
    }

    p {
        margin: 0;
        padding: 10px;
    }
}