$primary:  #393939;
$peps:#FF5A09;
$light-peps: #FFA071;
$dark-grey: #0E2938;
$mid-grey: #99B3C6;
$light-grey: #E6F3FD;
$text-color: #393939;
$white: #ffff;
$box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
$box-shadow-peps: rgba($color: $peps, $alpha: 0.3)  0px 0px 25px 10px;
$box-shadow-light-grey: rgba($color: $light-grey, $alpha: 0.5)  0px 0px 4px 2px;
$border-radius: 10px;