/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Like/Like.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Like_likeIcon__ttMKq {
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  color: #99B3C6;
  cursor: pointer;
}

.Like_likeIconActive__MO61r {
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  color: #FF5A09;
  cursor: pointer;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/MovieDetails/MovieDetails.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.MovieDetails_movieContainer__FBkJn {
  position: relative;
  min-width: 100vw;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MovieDetails_movieContainer__FBkJn .MovieDetails_backgroundContainer__OEd8Z {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.MovieDetails_movieContainer__FBkJn .MovieDetails_backgroundContainer__OEd8Z img {
  object-fit: cover;
}
.MovieDetails_movieContainer__FBkJn .MovieDetails_backgroundContainer__OEd8Z::after {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 41, 56, 0.85);
  content: "";
}
.MovieDetails_movieContainer__FBkJn .MovieDetails_movieContent__y93WS {
  padding: 50px;
  position: relative;
  z-index: 3;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 100%;
}
@media (max-width: 980px) {
  .MovieDetails_movieContainer__FBkJn .MovieDetails_movieContent__y93WS {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 980px) {
  .MovieDetails_movieContainer__FBkJn .MovieDetails_movieContent__y93WS .MovieDetails_image__ldjlw img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
}
.MovieDetails_movieContainer__FBkJn .MovieDetails_movieContent__y93WS .MovieDetails_movieDetails__cddnv h3 {
  font-weight: 500;
  color: #FFA071;
}
.MovieDetails_movieContainer__FBkJn .MovieDetails_movieContent__y93WS .MovieDetails_movieDetails__cddnv p {
  font-size: 14px;
  color: white;
}
.MovieDetails_movieContainer__FBkJn .MovieDetails_movieContent__y93WS .MovieDetails_movieDetails__cddnv .MovieDetails_overview__CUFTn {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/MovieDetails/MovieActors/MovieActors.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.MovieActors_cast__tXPQ8 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  flex-wrap: wrap;
}
.MovieActors_cast__tXPQ8 .MovieActors_person__Kebq4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MovieActors_cast__tXPQ8 .MovieActors_person__Kebq4 .MovieActors_image__9I27P {
  overflow: hidden;
  border-radius: 50%;
}
.MovieActors_cast__tXPQ8 .MovieActors_person__Kebq4 .MovieActors_image__9I27P img {
  border-radius: 50%;
  transition: all 0.8s;
  object-fit: cover;
}
.MovieActors_cast__tXPQ8 .MovieActors_person__Kebq4 .MovieActors_image__9I27P img:hover {
  scale: 1.2;
}
.MovieActors_cast__tXPQ8 .MovieActors_person__Kebq4 .MovieActors_name__lPN4Y {
  text-align: center;
  margin: 0;
  font-size: 12px !important;
  color: #FF5A09;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/SimilarMovies/SimilarMovies.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SimilarMovies_container__ZWv5b {
  width: 100%;
  height: 40vh;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.SimilarMovies_container__ZWv5b .SimilarMovies_movies__o0mMI {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-gap: 20px;
  gap: 20px;
}
@media (max-width: 980px) {
  .SimilarMovies_container__ZWv5b .SimilarMovies_movies__o0mMI {
    grid-template-columns: repeat(1, 200px);
    grid-template-rows: repeat(1, 350px);
  }
}
@media (min-width: 491px) and (max-width: 980px) {
  .SimilarMovies_container__ZWv5b .SimilarMovies_movies__o0mMI {
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 350px);
  }
}
@media (min-width: 981px) and (max-width: 1300px) {
  .SimilarMovies_container__ZWv5b .SimilarMovies_movies__o0mMI {
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 450px);
  }
}
@media (min-width: 1301px) and (max-width: 1600px) {
  .SimilarMovies_container__ZWv5b .SimilarMovies_movies__o0mMI {
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 450px);
  }
}
@media (min-width: 1601px) {
  .SimilarMovies_container__ZWv5b .SimilarMovies_movies__o0mMI {
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(4, 450px);
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/MediaCard/MediaCard.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.MediaCard_card__n6PhV {
  font-family: var(--font-montserrat);
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  min-width: 250px;
}
@media (max-width: 980px) {
  .MediaCard_card__n6PhV {
    min-width: 200px;
  }
}
.MediaCard_card__n6PhV .MediaCard_image__OeJtQ {
  position: relative;
  width: 100%;
  height: 300px;
}
@media (max-width: 980px) {
  .MediaCard_card__n6PhV .MediaCard_image__OeJtQ {
    height: 250px;
  }
}
.MediaCard_card__n6PhV .MediaCard_image__OeJtQ img {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  width: 100%;
  height: 300px;
}
.MediaCard_card__n6PhV .MediaCard_content__aZb3j {
  padding: 5px 10px;
  position: relative;
  overflow-wrap: break-word;
}
.MediaCard_card__n6PhV .MediaCard_content__aZb3j .MediaCard_vote__SOXLq {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  top: -20px;
  right: 15px;
  width: 35px;
  height: 35px;
  z-index: 2;
  margin: 0;
  border: 2px solid #FFA071;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.MediaCard_card__n6PhV .MediaCard_content__aZb3j p {
  font-size: 11px;
  font-weight: 300;
}
