@import "variables";

.formContainer {
    display: flex;
    flex-direction: column;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    max-width:250px;
    height: 100%;

    h2 {
        margin: 0;
        border-bottom: 1px solid $light-grey;
        padding: 10px 20px;
    }

    .date {
        border-bottom: 1px solid $light-grey;
        padding: 10px 20px;
        > div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            p {
                margin: 0;
                margin-right: 10px;
                font-weight: 300;
            }
            input {
                border-radius: $border-radius;
                border: 1px solid $light-grey;
                padding: 10px;
                min-width: 120px;
                font-family: var(--font-montserrat);
                color: $mid-grey;
                width: 150px;
                font-weight: 300;
                cursor: pointer;
            }
        }
    }
    .sort {
        border-bottom: 1px solid $light-grey;
        padding: 10px 20px;
        select {
            padding: 10px 5px;
            margin-bottom: 10px;
            border-radius: $border-radius;
            border: 1px solid $light-grey;
            color: $mid-grey;
            font-weight: 300;
            cursor: pointer;
            width: 100%;
        }
    }
    .submitBtn{
        padding: 20px 0;
        border: 1px solid $light-grey;
        background-color: $light-grey;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius ;
        color: $text-color;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.8s;
        text-align: center;
        font-family: var(--font-montserrat);
        &:hover {
            background-color: $light-peps;
            border: 1px solid $light-peps;
            color: $white;
        }
    }
   
}