@use "/src/styles/mixins" as mixin;
@import "variables";

.menuContainer {
    position: relative;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    width: 200px;
    height: 150px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .bubble {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: $white;
        transform: rotate(45deg);
        top: -8px;
        right: 20px;
        border-radius: 2px;
        @include mixin.xs-medium {
            right: 80px;
        }
    }
}