@use "/src/styles/mixins" as mixin;
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px;
    @include mixin.xs-medium {
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .content {
        display: flex;
        flex-direction: row;
        gap: 50px;
        @include mixin.xs-medium {
            flex-direction: column;
            gap: 20px;
    }
    }
}