@use "/src//styles//mixins" as mixin;

.results {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 20px;
    margin-bottom: 50px;

      @include mixin.xs-medium {
        grid-template-columns: repeat(1, 200px);
      }
      @include mixin.large {
        grid-template-columns: repeat(2, 250px);
      }
      @include mixin.xl {
        grid-template-columns: repeat(3, 250px);
      }
      @include mixin.xxl {
        grid-template-columns: repeat(4, 250px);
      }
}