@import "variables";

.header {   
    width: 100%;
    z-index: 5;
    color: $primary;
    font-family: var(--font-roboto);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;
    color: $white;
    gap: 20px;
    box-shadow: $box-shadow;
    position: fixed;
    top:0;

    .logo{
        font-weight: 700;
        font-size: 32px;
        color: $peps;
        margin-left: 50px;
    }

    .navigation{
        display: flex;
        justify-content: flex-end;
        flex: 0.5;
        gap: 20px;
        
        nav {
            ul{
                list-style: none;
                display: flex;
                gap: 20px;
                li {
                    font-size: 24px;
                }
            }
        }
    }

    > div {
        display: flex;
        align-items: center;
        
    }

    .accountIcon{
        color: $peps;
        font-size: 24px;
        cursor: pointer;
        margin-right: 50px;
    }
    
}