@use "/src/styles/_mixins" as mixin;
@import "variables";


.popularContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  .movieContainer {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(4, 450px);
    gap: 20px;
    @include mixin.xs-medium {
      grid-template-columns: repeat(1, 200px);
      grid-template-rows: repeat(1, 350px);
    }
    @include mixin.large {
      grid-template-columns: repeat(2, 250px);
      grid-template-rows: repeat(2, 450px);
    }
    @include mixin.xl {
      grid-template-columns: repeat(3, 250px);
      grid-template-rows: repeat(3, 450px);
    }
    @include mixin.xxl {
      grid-template-columns: repeat(4, 250px);
      grid-template-rows: repeat(4, 450px);
    }
  }

  .loadMoreContainer {
    margin: 20px 0;
    width: 100%;
    display: flex;
  justify-content: center;
  }
  }     
  
  